


  body {
    background-color: #94B49F;
   }
  hr{
    border-color: Black;
    border-style: Dotted none none none;
    border-width: 7px ;
    width: 7%;
  }
h1{
  color: #DF7861;
  font-style: oblique;
}
h3{
  color: #DF7861;
}
